<div class="table">
		<div class="title"><%==title%></div>
		<div class="header">
		<!--Hiển thị tên các cột theo order gửi sang-->
			<%for(i=0;i<columns.length;i++){%>	
				<div class="collumn"><%=columns[i].name%></div>
			<%}%>
		</div>
		<div class="body row_wrapper">
		<!--Hiển thị từng dòng dữ liệu -->
		</div>
</div>