<form action="">
	<div class="id">
		<span>ID : </span>
		<input type='input' name='id'/>
	</div>
	<div class="name">
		<span>Name : </span>
		<input type='input' name='name'/>
	</div>
	<div class="Address">
		<span>Address : </span>
		<input type='input' name='address'/>
	</div>
	<div class="create">
		<input type='submit' name='create' value='Create'/>
	</div>
</form>
